<div class="row">
  <div class="card col"  ng-if="user.devices.length>0">
    <ion-refresher
        pulling-text="refresh device list ..."
        on-refresh="refreshUserDevices()">
    </ion-refresher>
    <ion-list type="list">
      <ion-item ng-repeat="device in user.devices" ng-class="device.deviceTYPE == 'divider'? 'item-divider':''">
        <a class="item item-icon-left item-icon-right" href="#"  ng-if="device.deviceTYPE != 'divider'">
          <i class="icon ion-chatbubble-working"></i>
          {{device.deviceUUID}}
          <i class="icon ion-ios-telephone-outline"></i>
        </a>
        <div ng-if="device.deviceTYPE == 'divider'" ng-class="item-divider">
          {{device.deviceUUID}}
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="card col"  ng-if="!user">
    You must login to see devices
  </div>
</div>
<div class="row">
</div>
